
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>

        <article x-data="{showTools: false}">
            <h2><%= mountain.mountainName %> - <%= mountain.hikeComplete ? "Complete" : "On the list" %></h2>
            <h5>Rank <%= mountain.rank %> of 46</h5>

            <button x-on:click="showTools= !showTools">Show Options</button>

            <div x-show="showTools">
                <a href="/mountains/<%= mountain._id %>/edit"><button>Edit</button></a>
                <form action="/mountains/<%= mountain._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete"/>
                </form>
                <a href="/mountains"><button>Back to Main</button></a>
            </div>
        </article>

      </div>
    </main>
  </body>
</html>