
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>

        <article>
          <h2><%= mountain.mountainName %> - <%= mountain.hikeComplete ? "Complete" : "On the list" %></h2>
          <h3><%= mountain.rank %></h3>
          <a href="/mountains<%= mountain._id %>/edit"><button>Edit</button></a>
          <form action="/mountains<%= mountain._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
          </form>
          <a href="/mountains"><button>Back to Main</button></a>
        </article>

      </div>
    </main>
  </body>
</html>